<p>findById(...) :</p>
<p *ngIf="firstThing">id={{firstThing.id}}
  label={{firstThing.label}}</p>
<hr>
<p>findAll(...) - total count: {{thingsCount$ |
  async}} -
  <span *ngIf="thingsPage">
    <label for="page">page: </label>
    <input id="page"
      type="number"
      min="0"
      #page
      (change)="onPageIndex(page.value)"
      value="0">
  </span>
</p>
<p *ngIf="loading">Loading...</p>
<table *ngIf="thingsPage && !loading">
  <tr>
    <th>iri</th>
    <th>label</th>
    <th>text</th>
    <th>boolean</th>
    <th>integer</th>
    <th>decimal</th>
    <th>otherThingId</th>
  </tr>
  <tr *ngFor="let thing of thingsPage.content">
    <td>{{thing.id}}</td>
    <td>{{thing.label}}</td>
    <td>{{thing.text?.str}}</td>
    <td>{{thing.boolean?.bool}}</td>
    <td>{{thing.integer?.integer}}</td>
    <td>{{thing.decimal?.decimal}}</td>
    <td>{{thing.otherThing?.id}}</td>
  </tr>
</table>
