<p>Find all Things</p>
<p>Total: {{thingsCount$ | async}}</p>
<p *ngIf="thingsPage">
  <label for="page">Page: </label>
  <input id="page"
    type="number"
    min="0"
    max="{{thingsPage.pageCount-1}}"
    #page
    (change)="onPageIndex(page.value)"
    value="0">
</p>
<p *ngIf="loading">Loading...</p>
<table *ngIf="thingsPage && !loading">
  <tr>
    <th>iri</th>
    <th>label</th>
    <th>text</th>
  </tr>
  <tr *ngFor="let thing of thingsPage.content">
    <td>{{thing.id}}</td>
    <td>{{thing.label}}</td>
    <td>{{thing.text}}</td>
  </tr>
</table>
